<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let article of articles" lines="none">
      <div class="w3-card-4" >
        <img src="{{article.urlToImage}}" alt="{{article.author}}" style="width:100%">
        <h3><a href="{{article.url}}" (click)="openUrl()" id="title_click">{{article.title}}</a></h3>
        <div class="w3-container w3-center">
          <p>{{article.description}}</p>
          <a href="{{article.url}}" (click)="openUrl()">Read full story</a>
        </div>
      </div>
      </ion-item>
  </ion-list>
</ion-content>
