<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Cryptos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cryptos</ion-title>
    </ion-toolbar>
  </ion-header>

    <div *ngIf="cryptos">
      <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
        <span class="left">{{ crypto }}</span>
        <span class="right">{{ cryptos[crypto].USD  | currency:"USD" : "symbol-narrow"}}</span><br>
        <span class="right">{{ cryptos[crypto].EUR  | currency:"EUR" : "symbol-narrow"}}</span>
      </div>
    </div>
    <!-- <ion-item >
      <ion-label>Currency</ion-label>
      <ion-select value="currency" okText="OK" cancelText="Cancel">
      <ion-select-option value="blonde">BTC</ion-select-option>
      <ion-select-option value="black">ETH</ion-select-option>
      <ion-select-option value="red">IOT</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <div *ngIf="cryptos">
        <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
          <span class="left">{{ crypto }}</span>
          <span class="right">{{ cryptos[crypto].USD | currency:"USD" : "symbol-narrow"}}</span>
        </div>
      </div>
    </ion-item> -->

  

  <div id="note">
  <ion-note color="danger">
    User bears sole responsibility for use of information in any trading activity.
    Data provided is for informational purposes. Consult a professional broker before you trade.
  </ion-note>
  </div>
</ion-content>
