div#crypto-container {
    background: tan;
    width: 100%;
    margin: 0 auto 4px auto;
    padding: 1.3em;
    box-shadow: 1px 1px 0 lightgrey;
  }
  
  span.left {
    font-weight: bold;
  }
  
  span.right {
    float:right;
  }

  #note {
      padding: 2em;
  }